/**
*** Diablo 4 DSC THEME ***
** BACKGROUND IMG: https://i.redd.it/3i3z4ijxfpn61.jpg **
** BACKGROUND GIF: https://steamuserimages-a.akamaihd.net/ugc/1992310365990405648/8D3B941494B5077CB450C37A3731572CF1B25511/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true **
** Diablo 3: https://i.gifer.com/origin/24/24ccb6aefb1ecd644770a8a169528db7_w200.gif **
** Portal: https://i.gifer.com/Uux9.gif
**/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

:root {
--background-image: url('https://i.imgur.com/ssDCaRX.jpg');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://wallpapers.com/images/high/miles-morales-background-1eh4f3mxudabxoz3.webp');
--popout-modal-blur: 0px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://i.etsystatic.com/14014880/r/il/fe4fc5/5034017373/il_fullxfull.5034017373_vw2i.jpg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.0;
--left-brightness: 0.3;
--middle-brightness: 0.3;
--right-brightness: 0.3;
--popout-modal-brightness: 0.3;
--gradient-primary: 231,13,13;
--gradient-secondary: 180,16,16;
--gradient-direction: 155deg;
--tint-colour: 0,0,0; /* Color del fondo */
--tint-brightness: 0.6; /* Opacidad del fondo */
--window-padding: 30px; /* Espacio lateral entre el discord y la propia ventana */
--window-roundness: 10px; /* Borde del discord */
--scrollbar-colour: #E70D0D; /* Color de la barra para subir y bajar */
--link-colour: #E70D0D; /* Color de los links */
--show-gift-gif-buttons: no-repeat;
--font: 'Josefin Slab';
--update-notice-1: none;
}