/**
*** HACKER DSC THEME ***
**/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

:root {
--background-image: url('https://user-images.githubusercontent.com/43012445/105452071-411e4880-5c43-11eb-8ae2-4de61f310bf9.gif');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.gifer.com/T0fK.gif');
--popout-modal-blur: 0px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://i.gifer.com/T0fK.gif');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.0;
--left-brightness: 0.0;
--middle-brightness: 0.0;
--right-brightness: 0.0;
--popout-modal-brightness: 0.0;
--gradient-primary: 0,35,0;
--gradient-secondary: 32,100,11;
--gradient-direction: 155deg;
--tint-colour: 0,0,0; /* Color del fondo */
--tint-brightness: 0.8; /* Opacidad del fondo */
--window-padding: 30px; /* Espacio lateral entre el discord y la propia ventana */
--window-roundness: 0px; /* Borde del discord */
--scrollbar-colour: #056e00; /* Color de la barra para subir y bajar */
--link-colour: #00812d; /* Color de los links */
--show-gift-gif-buttons: no-repeat;
--font: 'IBM Plex Mono';
--update-notice-1: none;
}