/**
*** Kingdom Hearts DSC THEME ***
** BACKGROUND IMG: https://wallpapercave.com/wp/wp9482265.jpg **
** BACKGROUND GIF: https://steamuserimages-a.akamaihd.net/ugc/1992310365990405648/8D3B941494B5077CB450C37A3731572CF1B25511/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true **
**/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

:root {
--background-image: url('https://wallpapercat.com/w/full/2/6/f/861809-3840x2160-desktop-4k-riku-kingdom-hearts-background-image.jpg');
--background-image-blur: 2.5px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://img1.goodfon.com/wallpaper/nbig/c/15/art-diablo-3-tyrael-krylya.jpg');
--popout-modal-blur: 0px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://i.gifer.com/5zoU.gif');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.0;
--left-brightness: 0.0;
--middle-brightness: 0.0;
--right-brightness: 0.0;
--popout-modal-brightness: 0.0;
--gradient-primary: 35,0,0;
--gradient-secondary: 100,32,11;
--gradient-direction: 155deg;
--tint-colour: 0,0,0; /* Color del fondo */
--tint-brightness: 0.0; /* Opacidad del fondo */
--window-padding: 0px; /* Espacio lateral entre el discord y la propia ventana */
--window-roundness: 0px; /* Borde del discord */
--scrollbar-colour: #6e0f00; /* Color de la barra para subir y bajar */
--link-colour: #6e0f00; /* Color de los links */
--show-gift-gif-buttons: no-repeat;
--font: 'Play';
--update-notice-1: none;
}